@import 'tailwindcss';

@theme {
  --color-foreground: oklch(0.041 0.143 20);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.041 0.143 20);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.041 0.143 20);
  --color-primary: oklch(0.5 1 22);
  --color-primary-foreground: oklch(0.978 0.091 60);
  --color-secondary: oklch(0.98 0.1 32);
  --color-secondary-foreground: oklch(0.1 0.098 24);
  --color-muted: oklch(0.959 0.048 60);
  --color-muted-foreground: oklch(0.447 0.053 25);
  --color-accent: oklch(0.959 0.048 60);
  --color-accent-foreground: oklch(0.1 0.098 24);
  --color-destructive: oklch(0.602 0.842 0);
  --color-destructive-foreground: oklch(0.978 0.091 60);
  --color-border: oklch(0.9 0.059 20);
  --color-input: oklch(0.9 0 0);
  --color-ring: oklch(0.531 0.95 24.6);

  --radius: 1rem;
}

* {
  font-family: var(--font-nunito), sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#nprogress .bar {
  @apply !bg-primary;
}

#nprogress .peg {
  @apply !shadow-md !shadow-primary;
}

#nprogress .spinner-icon {
  @apply !border-t-primary !border-l-primary;
}
